<div class="container">
    <h2>Carrito de Compras</h2>
    <div *ngIf="articulosEnCarrito.length > 0">
      <div *ngFor="let articulo of articulosEnCarrito">
        <h3>{{ articulo.descripcion }}</h3>
        <p>Precio: {{ articulo.precio }}</p>
        <button class="btn btn-primary" (click)="eliminarArticulo(articulo)">Eliminar</button>
      </div>
      <button class="btn btn-primary" (click)="buySelectedArticle()">Comprar</button>
    </div>
    <div *ngIf="articulosEnCarrito.length === 0">
      <p>No hay artículos en el carrito.</p>
    </div>
  </div>