<h2>Clientes</h2>

<!-- Formulario para agregar un nuevo cliente -->
<form (submit)="addCliente()">
  <div>
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" [(ngModel)]="nuevoCliente.nombre" required>
  </div>
  <div>
    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" [(ngModel)]="nuevoCliente.apellidos" required>
  </div>
  <div>
    <label for="direccion">Dirección:</label>
    <input type="text" id="dirección" [(ngModel)]="nuevoCliente.direccion" required>
  </div>
  
  <div>
    <button type="submit">Agregar</button>
  </div>
</form>

<!-- Lista de clientes -->
<ul>
  <li *ngFor="let cliente of clientes">
    <div>
      <label>Nombre: {{ cliente.nombre }}</label>
    </div>
    <div>
      <label>Apellido: {{ cliente.apellidos }}</label>
    </div>
    <div>
      <label>Dirección: {{ cliente.direccion }}</label>
    </div>
    <div>
      <button (click)="updateCliente(cliente)">Editar</button>
      <button *ngIf="cliente.id" (click)="deleteCliente(cliente.id)">Eliminar</button>
    </div>
  </li>
</ul>