<h2>Artículos</h2>


<div>
  <label>Descripción:</label>
  <input [(ngModel)]="nuevoArticulo.descripcion" placeholder="Descripción del artículo">
</div>
<div>
  <label>Código:</label>
  <input [(ngModel)]="nuevoArticulo.codigo" placeholder="Código del artículo">
</div>
<div>
  <label>Precio:</label>
  <input [(ngModel)]="nuevoArticulo.precio" placeholder="Precio del artículo">
</div>
<div>
  <label>Imagen:</label>
  <input [(ngModel)]="nuevoArticulo.imagen" placeholder="URL de la imagen del artículo">
</div>
<div>
  <label>Stock:</label>
  <input [(ngModel)]="nuevoArticulo.stock" placeholder="Stock del artículo">
</div>
<div>
  <button (click)="addArticulo()">Agregar</button>
</div>

<table>
  <tr>
    <th>ID</th>
    
    <th>Descripción</th>
    <th>Código</th>
    <th>Precio</th>
    <th>Imagen</th>
    <th>Stock</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let articulo of articulos">
    <td>{{ articulo.id }}</td>
   
    <td>{{ articulo.descripcion }}</td>
    <td>{{ articulo.codigo }}</td>
    <td>{{ articulo.precio }}</td>
    <td>{{ articulo.imagen }}</td>
    <td>{{ articulo.stock }}</td>
    <td>
      <button (click)="updateArticulo(articulo)">Editar</button>
      <button (click)="deleteArticulo(articulo.id)">Eliminar</button>
    </td>
  </tr>
</table>