<h2>Cliente-Artículos</h2>

<div>
  <label>Cliente ID:</label>
  <input [(ngModel)]="nuevoClienteArticulo.clienteId" placeholder="ID del cliente">
</div>
<div>
  <label>Artículo ID:</label>
  <input [(ngModel)]="nuevoClienteArticulo.articuloId" placeholder="ID del artículo">
</div>
<div>
  <label>Fecha:</label>
  <input [(ngModel)]="nuevoClienteArticulo.fecha" type="date">
</div>
<div>
  <button (click)="addClienteArticulo()">Agregar</button>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Cliente ID</th>
    <th>Artículo ID</th>
    <th>Fecha</th>
    <th>Acciones</th>
  </tr>
  <ng-container *ngIf="clienteArticulos && clienteArticulos.length > 0">
    <tr *ngFor="let clienteArticulo of clienteArticulos">
      <td>{{ clienteArticulo.id }}</td>
      <td>{{ clienteArticulo.clienteId }}</td>
      <td>{{ clienteArticulo.articuloId }}</td>
      <td>{{ clienteArticulo.fecha | date }}</td>
      <td>
        <button (click)="updateClienteArticulo(clienteArticulo)">Editar</button>
        <button (click)="deleteClienteArticulo(clienteArticulo.id)">Eliminar</button>
      </td>
    </tr>
  </ng-container>
  <tr *ngIf="!clienteArticulos || clienteArticulos.length === 0">
    <td colspan="5">No se encontraron cliente-artículos.</td>
  </tr>
</table>