<h2>Tiendas</h2>

<div>
  <label>Sucursal:</label>
  <input [(ngModel)]="nuevaTienda.sucursal" placeholder="Sucursal de la tienda">
</div>
<div>
  <label>Dirección:</label>
  <input [(ngModel)]="nuevaTienda.direccion" placeholder="Dirección de la tienda">
</div>
<div>
  <button (click)="addTienda()">Agregar</button>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Sucursal</th>
    <th>Dirección</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let tienda of tiendas">
    <td>{{ tienda.id }}</td>
    <td>{{ tienda.sucursal }}</td>
    <td>{{ tienda.direccion }}</td>
    <td>
      <button (click)="updateTienda(tienda)">Editar</button>
      <button (click)="deleteTienda(tienda.id)">Eliminar</button>
    </td>
  </tr>
</table>