<div class="container">
    <h2>Artículos</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6" *ngFor="let article of articles">
        <div class="card">
          <img class="card-img-top" [src]="article.articulo.imagen" alt="Imagen del artículo">
          <div class="card-body">
            <h5 class="card-title">{{ article.articulo.descripcion }}</h5>
            <p class="card-text">Precio: {{ article.articulo.precio }}</p>
          </div>
          <div class="card-footer">
            <p class="text-muted">Tienda: {{ article.tienda.sucursal }}</p>
            <p class="text-muted">Dirección: {{ article.tienda.direccion }}</p>
          </div>
          <div class="card-body">
            <button class="btn btn-primary" (click)="buyArticle(article.articulo.id)" *ngIf="isLoggedIn() && userName">Comprar</button>
            <p *ngIf="!isLoggedIn() || !userName">Por favor, inicia sesión para comprar</p>
          </div>
        </div>
      </div>
    </div>
  </div>