<h2>Artículo-Tiendas</h2>

<div>
  <label>Artículo ID:</label>
  <input [(ngModel)]="nuevoArticuloTienda.articuloId" placeholder="ID del artículo">
</div>
<div>
  <label>Tienda ID:</label>
  <input [(ngModel)]="nuevoArticuloTienda.tiendaId" placeholder="ID de la tienda">
</div>
<div>
  <label>Fecha:</label>
  <input [(ngModel)]="nuevoArticuloTienda.fecha" type="date">
</div>
<div>
  <button (click)="addArticuloTienda()">Agregar</button>
</div>

<table>
  <tr>
    <th>ID</th>
    <th>Artículo ID</th>
    <th>Tienda ID</th>
    <th>Fecha</th>
    <th>Acciones</th>
  </tr>
  <ng-container *ngIf="articuloTiendas && articuloTiendas.length > 0">
    <tr *ngFor="let articuloTienda of articuloTiendas">
      <td>{{ articuloTienda.id }}</td>
      <td>{{ articuloTienda.articuloId }}</td>
      <td>{{ articuloTienda.tiendaId }}</td>
      <td>{{ articuloTienda.fecha | date }}</td>
      <td>
        <button (click)="updateArticuloTienda(articuloTienda)">Editar</button>
        <button (click)="deleteArticuloTienda(articuloTienda.id)">Eliminar</button>
      </td>
    </tr>
  </ng-container>
  <tr *ngIf="!articuloTiendas || articuloTiendas.length === 0">
    <td colspan="5">No se encontraron artículos-tiendas.</td>
  </tr>
</table>