<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">NetExamen</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated && userName === 'admin@example.com'">
            <!-- Agrega la condición del rol -->
            <a class="nav-link text-dark" [routerLink]="['/counter']">Counter</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated && userName === 'admin@example.com'">
            <!-- Agrega la condición del rol -->
            <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated && userName === 'admin@example.com'">
            <!-- Agrega la condición del rol -->
            <a routerLink="/clientes" routerLinkActive="active">Clientes</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated && userName === 'admin@example.com'">
            <!-- Agrega la condición del rol -->
            <a routerLink="/tiendas" routerLinkActive="active">Tiendas</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated && userName === 'admin@example.com'">
            <!-- Agrega la condición del rol -->
            <a routerLink="/articulos" routerLinkActive="active">Articulos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated && userName === 'admin@example.com'">
            <!-- Agrega la condición del rol -->
            <a routerLink="/articulostienda" routerLinkActive="active">ArticulosTienda</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isAuthenticated && userName === 'admin@example.com'">
            <!-- Agrega la condición del rol -->
            <a routerLink="/clientearticulo" routerLinkActive="active">ClienteArticulo</a>
          </li>
        </ul>
        <app-login-menu></app-login-menu>
      </div>
    </div>
  </nav>
</header>
